body
{
    background-image: url('./sunset-1373171_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 10px;
    padding: 0;
    z-index: inherit;
    object-fit: cover;
}

*
{
padding: none;
}

.total
{
    text-align: center;
    padding: 180px;
}

#userid
{
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 5px;
    padding-left: 8px;
    
}

#word
{
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 5px;
    padding-left: 8px;
}

#butt
{
    height: 30px;
    padding-left: 3px;
    padding-top: 1px;
}

.navbar-brand
{
    background-color: rgb(11, 11, 11);
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}

.login
{
    text-align: center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .login
  {
    background: #908b8b;
  width: 500px;
  margin: 6px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 25px rgba(255, 251, 251, 0.2);
  padding: 0px;
font-family: sans-serif;
  }

  .form
  {
    padding-bottom: 50px;
  }

.sticky-top
{
    position: fixed;
}
   